# mariadb
MYSQL_DB=XXXX
MYSQL_USER=XXXX
MYSQL_PASSWORD=XXXX

# WordPress admin account
WP_ADMIN_N=XXXX
WP_ADMIN_P=XXXX
WP_ADMIN_E=XXXX

# WordPress normal user
WP_U_NAME=XXXX
WP_U_EMAIL=XXXX
WP_U_PASS=XXXX
WP_U_ROLE=XXXX

# wordPress site
DOMAIN_NAME=XXXX
WP_TITLE=XXXX