# mariadb
MYSQL_DB=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=wppassword

# WordPress admin account
WP_ADMIN_N=admin
WP_ADMIN_P=adminpassword
WP_ADMIN_E=admin@example.com

# WordPress normal user
WP_U_NAME=editor
WP_U_EMAIL=editor@example.com
WP_U_PASS=editorpassword
WP_U_ROLE=editor

# wordPress site
DOMAIN_NAME=https://209.38.45.177
WP_TITLE=Ziyad site