# mariadb
MYSQL_DB=XXXX
MYSQL_USER=XXXX
MYSQL_PASSWORD=XXXX

# WordPress admin account
WP_ADMIN_N=XXXX
WP_ADMIN_P=XXXX
WP_ADMIN_E=XXXX

# WordPress normal user
WP_USER_NAME=XXXX
WP_USER_EMAIL=XXXX
WP_USER_PASS=XXXX
WP_USER_ROLE=XXXX

# wordPress site
DOMAIN_NAME=XXXX
WP_TITLE=XXXX